export(nyt_cg_billscosponsor)
export(nyt_cg_memberappear)
export(nyt_cg_memberbioroles)
export(nyt_cg_memberbystatedistrict)
export(nyt_cg_membersleaving)
export(nyt_cg_memberslist)
export(nyt_cg_membersponsorcompare)
export(nyt_cg_membervotecompare)
export(nyt_cg_membervotepositions)
export(nyt_cg_newmembers)
export(nyt_cg_rollcallvote)
import(httr)
importFrom(plyr,compact)
