http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=bailout&fl=word_count&page=0&begin_date=20081001&end_date=20081201&api-key=<<nytimes_api_key>>&facet_field=section_name
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2019 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"word_count":719,"score":0.0},{"word_count":826,"score":0.0},{"word_count":913,"score":0.0},{"word_count":60,"score":0.0},{"word_count":305,"score":0.0},{"word_count":367,"score":0.0},{"word_count":953,"score":0.0},{"word_count":226,"score":0.0},{"word_count":51,"score":0.0},{"word_count":72,"score":0.0}],"meta":{"hits":1276,"offset":0,"time":9}}}'
  recorded_at: 2019-02-15 17:34:01 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
