http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=bailout&page=0&begin_date=20081001&end_date=20081201&api-key=e1fceed09cc7c21b9a279759efe7ab1d%3A16%3A59434183
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-ratelimit-limit-day: '1000'
      x-ratelimit-limit-second: '1'
      x-ratelimit-remaining-day: '992'
      x-ratelimit-remaining-second: '0'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2018 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"web_url":"https://www.nytimes.com/2008/11/14/opinion/14brooks.html","snippet":"The
        biggest threat to a healthy economy is the politically powerful capitalists
        who use their influence to create a stagnant corporate welfare state.","print_page":"33","blog":{},"source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-articleLarge-v2.jpg","height":588,"width":600,"legacy":{"xlargewidth":600,"xlarge":"images/2014/11/01/opinion/brooks-circular/brooks-circular-articleLarge-v2.jpg","xlargeheight":588},"subType":"xlarge","crop_name":null},{"rank":0,"subtype":"wide","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbWide-v5.jpg","height":126,"width":190,"legacy":{"wide":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbWide-v5.jpg","widewidth":190,"wideheight":126},"subType":"wide","crop_name":null},{"rank":0,"subtype":"thumbnail","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbStandard-v5.jpg","height":75,"width":75,"legacy":{"thumbnailheight":75,"thumbnail":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbStandard-v5.jpg","thumbnailwidth":75},"subType":"thumbnail","crop_name":null}],"headline":{"main":"Bailout
        to Nowhere","kicker":"Op-Ed Columnist","content_kicker":"Op-Ed Columnist","print_headline":"Bailout
        to Nowhere","name":null,"seo":null,"sub":null},"keywords":[{"name":"subject","value":"Automobiles","rank":1,"major":"N"},{"name":"subject","value":"Subprime
        Mortgage Crisis","rank":2,"major":"N"},{"name":"persons","value":"Obama, Barack","rank":3,"major":"N"},{"name":"subject","value":"Lobbying
        and Lobbyists","rank":4,"major":"N"},{"name":"subject","value":"United States
        Politics and Government","rank":5,"major":"N"},{"name":"organizations","value":"Ford
        Motor Co","rank":6,"major":"N"},{"name":"organizations","value":"Chrysler
        LLC","rank":7,"major":"N"},{"name":"organizations","value":"General Motors
        Corp","rank":8,"major":"N"}],"pub_date":"2008-11-18T18:04:48+0000","document_type":"article","new_desk":"Editorial","byline":{"original":"By
        DAVID BROOKS","person":[{"firstname":"David","middlename":null,"lastname":"BROOKS","qualifier":null,"title":null,"role":"reported","organization":"","rank":1}],"organization":null},"type_of_material":"Op-Ed","_id":"545db51738f0d877bc740c84","word_count":826,"score":2.6911499E-11,"uri":"nyt://article/d5c4cfeb-8c78-56a2-a1fc-8b206e4ceae1"},{"web_url":"https://opinionator.blogs.nytimes.com/2008/11/10/a-bigger-bailout/","snippet":"The
        government deems its $123 billion bailout of A.I.G. too modest.","abstract":"The
        government deems its $123 billion bailout of A.I.G. too modest.","blog":{},"source":"The
        New York Times","multimedia":[],"headline":{"main":"A Bigger Bailout","kicker":"Opinionator","content_kicker":null,"print_headline":null,"name":null,"seo":null,"sub":null},"keywords":[{"name":"type_of_material","value":"News","rank":1,"major":null}],"pub_date":"2008-11-10T08:32:05Z","document_type":"blogpost","byline":{"original":"By
        TOBIN HARSHAW","person":[{"firstname":"Tobin",[...]
