http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=bailout&page=0&begin_date=20081001&end_date=20081201&api-key=<<nytimes_api_key>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2019 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"web_url":"https://www.nytimes.com/2008/11/07/business/07views.html","snippet":"Governments
        should make the banking bailouts so unpleasant that other industries — automakers,
        retailers or struggling media groups — will hesitate to request the aid.","lead_paragraph":"Governments
        should make the banking bailouts so unpleasant that other industries — automakers,
        retailers or struggling media groups — will hesitate to request the aid.","print_page":"2","blog":{},"source":"The
        New York Times","multimedia":[],"headline":{"main":"Using Restraint With Bailouts","kicker":"Breakingviews.com","content_kicker":"Breakingviews.com","print_headline":"Using
        Restraint\nWith Bailouts","name":null,"seo":null,"sub":"Using Restraint With
        Bailouts ;"},"keywords":[{"name":"subject","value":"Subprime Mortgage Crisis","rank":1,"major":null},{"name":"subject","value":"Emergency
        Economic Stabilization Act (2008)","rank":2,"major":null},{"name":"organizations","value":"The
        Blackstone Group","rank":3,"major":null}],"pub_date":"2008-11-07T00:00:00Z","document_type":"article","news_desk":"Business","section_name":"Business
        Day","byline":{"original":"By HUGO DIXON and LAUREN SILVA","person":[{"firstname":"Hugo","middlename":null,"lastname":"DIXON","qualifier":null,"title":null,"role":"reported","organization":"","rank":1},{"firstname":"Lauren","middlename":null,"lastname":"SILVA","qualifier":null,"title":null,"role":"reported","organization":"","rank":2}],"organization":null},"type_of_material":"News","_id":"5479dae338f0d86bf592fedf","word_count":719,"score":0.0},{"web_url":"https://www.nytimes.com/2008/11/14/opinion/14brooks.html","snippet":"The
        biggest threat to a healthy economy is the politically powerful capitalists
        who use their influence to create a stagnant corporate welfare state.","lead_paragraph":"The
        biggest threat to a healthy economy is the politically powerful capitalists
        who use their influence to create a stagnant corporate welfare state.","print_page":"33","blog":{},"source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-articleLarge-v2.jpg","height":588,"width":600,"legacy":{"xlargewidth":600,"xlarge":"images/2014/11/01/opinion/brooks-circular/brooks-circular-articleLarge-v2.jpg","xlargeheight":588},"subType":"xlarge","crop_name":null},{"rank":0,"subtype":"wide","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbWide-v5.jpg","height":126,"width":190,"legacy":{"wide":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbWide-v5.jpg","widewidth":190,"wideheight":126},"subType":"wide","crop_name":null},{"rank":0,"subtype":"thumbnail","caption":null,"credit":null,"type":"image","url":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbStandard-v5.jpg","height":75,"width":75,"legacy":{"thumbnailheight":75,"thumbnail":"images/2014/11/01/opinion/brooks-circular/brooks-circular-thumbStandard-v5.jpg","thumbnailwidth":75},"subType":"thumbnail","crop_name":null}],"headline":{"main":"Bailout
        to Nowhere","kicker":"Op-Ed Columnist","content_kicker":"Op-Ed Columnist","print_headline":"Bailout
        to Nowhere","name":null,"seo":null,"sub":null},"keywords":[{"name":"subject","value":"Automobiles","rank":1,"major":"N"},{"name":"subject","value":"Subprime
        Mortgage Crisis","rank":2,"major":"N"},{"name":"persons","value":"Obama, Barack","rank":3,"major":"N"},{"name":"subject","value":"Lobbying
       [...]
