http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=money&fq=The%20New%20York%20Times&page=0&api-key=e1fceed09cc7c21b9a279759efe7ab1d%3A16%3A59434183
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-ratelimit-limit-day: '1000'
      x-ratelimit-limit-second: '1'
      x-ratelimit-remaining-day: '980'
      x-ratelimit-remaining-second: '0'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2018 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"web_url":"https://www.nytimes.com/2018/05/11/your-money/your-money-college-essays.html","snippet":"This
        year, we picked five college application essays about money to publish. College
        admissions officers admired their maturity, self-awareness and humanity.","print_page":"1","blog":{},"source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2018/05/12/business/12money-1/12money-1-articleLarge.jpg","height":400,"width":600,"legacy":{"xlarge":"images/2018/05/12/business/12money-1/12money-1-articleLarge.jpg","xlargewidth":600,"xlargeheight":400},"subType":"xlarge","crop_name":"articleLarge"},{"rank":0,"subtype":"wide","caption":null,"credit":null,"type":"image","url":"images/2018/05/12/business/12money-1/12money-1-thumbWide.jpg","height":126,"width":190,"legacy":{"wide":"images/2018/05/12/business/12money-1/12money-1-thumbWide.jpg","widewidth":190,"wideheight":126},"subType":"wide","crop_name":"thumbWide"},{"rank":0,"subtype":"thumbnail","caption":null,"credit":null,"type":"image","url":"images/2018/05/12/business/12money-1/12money-1-thumbStandard.jpg","height":75,"width":75,"legacy":{"thumbnail":"images/2018/05/12/business/12money-1/12money-1-thumbStandard.jpg","thumbnailwidth":75,"thumbnailheight":75},"subType":"thumbnail","crop_name":"thumbStandard"},{"rank":0,"subtype":"articleInline","caption":null,"credit":null,"type":"image","url":"images/2018/05/12/business/12money-1/12money-1-articleInline.jpg","height":125,"width":190,"legacy":{},"subType":"articleInline","crop_name":"articleInline"},{"rank":0,"subtype":"blog225","caption":null,"credit":null,"type":"image","url":"images/2018/05/12/business/12money-1/12money-1-blog225.jpg","height":150,"width":225,"legacy":{},"subType":"blog225","c[...]
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=money&fq=news_desk%3A%28%22Sports%22%20%22Foreign%22%29&page=0&api-key=e1fceed09cc7c21b9a279759efe7ab1d%3A16%3A59434183
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-ra[...]
