http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=money&fq=The%20New%20York%20Times&page=0&api-key=<<nytimes_api_key>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2019 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"web_url":"https://www.nytimes.com/2019/02/15/your-money/gaby-dunn-chanel-reynolds-vicki-robin-interview.html","snippet":"Gaby
        Dunn, Chanel Reynolds and Vicki Robin were born decades apart. But their books
        about money have a common thread: Talk about it way, way more often.","lead_paragraph":"Gaby
        Dunn, Chanel Reynolds and Vicki Robin were born decades apart. But their books
        about money have a common thread: Talk about it way, way more often.","blog":{},"source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2019/02/16/business/16money-1/16money-1-articleLarge.jpg","height":400,"width":600,"legacy":{"xlarge":"images/2019/02/16/business/16money-1/16money-1-articleLarge.jpg","xlargewidth":600,"xlargeheight":400},"subType":"xlarge","crop_name":"articleLarge"},{"rank":0,"subtype":"wide","caption":null,"credit":null,"type":"image","url":"images/2019/02/16/business/16money-1/16money-1-thumbWide.jpg","height":126,"width":190,"legacy":{"wide":"images/2019/02/16/business/16money-1/16money-1-thumbWide.jpg","widewidth":190,"wideheight":126},"subType":"wide","crop_name":"thumbWide"},{"rank":0,"subtype":"thumbnail","caption":null,"credit":null,"type":"image","url":"images/2019/02/16/business/16money-1/16money-1-thumbStandard.jpg","height":75,"width":75,"legacy":{"thumbnail":"images/2019/02/16/business/16money-1/16money-1-thumbStandard.jpg","thumbnailwidth":75,"thumbnailheight":75},"subType":"thumbnail","crop_name":"thumbStandard"},{"rank":0,"subtype":"articleInline","caption":null,"credit":null,"type":"image","url":"images/2019/02/16/business/16money-1/16money-1-articleInline.jpg","height":115,"width":190,"legacy":{},"subType":"articleInline","crop_name":"articleInline"},{"rank":0,"subtype":"blog225","caption":null,"credit":null,"type":"image","url":"images/2019/02/16/business/16money-1/16money-1-blog225.jpg","height":150,"width":225,"legacy":{},"subType":"blog225","c[...]
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?q=money&fq=news_desk%3A%28%22Sports%22%20%22Foreign%22%29&page=0&api-key=<<nytimes_api_key>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2019 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"web_url":"https://www.nytimes.com/2019/01/29/world/africa/south-africa-anc-corruption-bribes.html","snippet":"A
        former executive at a logistics company delivered explosive testimony about
        corruption inside the African National Congress, South Africa’s governing
        party.","lead_paragraph":"A former executive at a logistics company delivered
        explosive testimony about corruption inside the African National Congress,
        South Africa’s governing party.","print_page":"6","blog":{},"source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2019/01/30/world/30safrica-print/merlin_149533974_29cb3c78-b5c5-4694-ab1a-d2484f6c5958-articleLarge.jpg","height":394,"width":600,"legacy":{"xlarge":"images/2019/01/30/world/30safrica-print/merlin_149533974_29cb3c78-b5c5-4694-ab1a-d2484f6c5958-articleLarge.jpg","xlargewidth":600,"xlargeheight":394},"subType":"xlarge","crop_name":"articleLarge"},[...]
