http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/semantic/v2/geocodes/query.json?country_code=US&perpage=100&api-key=<<nytimes_api_key>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{ \n\t\"status\": \"OK\",\n\t\"copyright\": \"Copyright (c) 2015 The
        New York Times Company. All Rights Reserved.\",\n\t\"num_results\": 100,\n\t\"results\":
        [\n\t\t\t{\n\t\t\t\t\n\t\t\t\t\"concept_id\": \"22456\",\n\t\t\t\t\n\t\t\t\t\n\t\t\t\t\"concept_name\":
        \"Abilene (Tex)\",\n\t\t\t\t\n\t\t\t\t\"geocode_id\": 4500,\n\t\t\t\t\"geoname_id\":
        4669635,\n\t\t\t\t\"name\": \"Abilene\",\n\t\t\t\t\"latitude\": 32.448736,\n\t\t\t\t\"longitude\":
        -99.733144,\n\t\t\t\t\"elevation\": 524,\n\t\t\t\t\"population\": 114247,\n\t\t\t\t\"country_code\":
        \"US\",\n\t\t\t\t\"country_name\": \"United States\",\n\t\t\t\t\"admin_code1\":
        \"TX\",\n\t\t\t\t\"admin_code2\": \"441\",\n\t\t\t\t\"admin_code3\": null,\n\t\t\t\t\"admin_code4\":
        null,\n\t\t\t\t\"admin_name1\": \"Texas\",\n\t\t\t\t\"admin_name2\": \"Taylor
        County\",\n\t\t\t\t\"admin_name3\": null,\n\t\t\t\t\"admin_name4\": null,\n\t\t\t\t\"feature_class\":
        \"P\",\n\t\t\t\t\"feature_code\": \"PPL\",\n\t\t\t\t\"feature_code_name\":
        \"populated place\",\n\t\t\t\t\"time_zone_id\": \"America/Chicago\",\n\t\t\t\t\"dst_offset\":
        -5.0,\n\t\t\t\t\"gmt_offset\": -6.0,\n\t\t\t\t\"geocodes_created\": \"2013-02-25
        15:10:12-05:00\",\n\t\t\t\t\"geocodes_updated\": \"2013-02-25 15:10:12-05:00\"\n\t\t\t\t},\n\t\t\t{\n\t\t\t\t\n\t\t\t\t\"concept_id\":
        \"22460\",\n\t\t\t\t\n\t\t\t\t\n\t\t\t\t\"concept_name\": \"Abingdon (Va)\",\n\t\t\t\t\n\t\t\t\t\"geocode_id\":
        7752,\n\t\t\t\t\"geoname_id\": 4743815,\n\t\t\t\t\"name\": \"Abingdon\",\n\t\t\t\t\"latitude\":
        36.709834,\n\t\t\t\t\"longitude\": -81.977348,\n\t\t\t\t\"elevation\": 629,\n\t\t\t\t\"population\":
        7735,\n\t\t\t\t\"country_code\": \"US\",\n\t\t\t\t\"country_name\": \"Un[...]
